       <div class="modal fade" id="editanswerjava" tabindex="-1" role="dialog" aria-labelledby="editanswerjavaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editanswerjavaModalLabel">Edit Answer</h5>
              
               
            </div>
            <div class="modal-body">
                   <div class="form-group" >

                           <label>Edit Your Answer: 
                               <input  class="form-control border-input" [(ngModel)]="yourAnswer.answer" placeholder="Your Annswer"/>
                           </label>                          
                       </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" value="Save" class="btn btn-info btn-fill btn-wd" data-dismiss="modal" (click)="editanswer()">Save</button>
              
            </div>
          </div>
        </div>
      </div>
     