<div id="myModal" class="modal fade" role="dialog" style="padding-right: 0px;">
		<div class="modal-dialog">
	
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>	
				</div>
			
				<div class="container">
					<h1>Detail User</h1>
					<table class="table table-striped custab">
						<tr>
							<th>ID</th>
							<th>UserName</th>
							<th>PassWord</th>
							<th>FullName</th>
							<th>Phone</th>
							<th>Address</th>
							<th>Active</th>
						</tr>
						<tr>
							<td>{{dataUser.id}}</td>
							<td>{{dataUser.username}}</td>
							<td>{{dataUser.password}}</td>
							<td>{{dataUser.fullname}}</td>
							<td>{{dataUser.phone}}</td>
							<td>{{dataUser.address}}</td>
							<td>{{dataUser.active}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	
	</div>