
<div class ="contend">
    <div class="row">
    <h2>Number ID: {{ topicdetail.id}} </h2>
    <div class="form-group">
        
        <label>Content: <input class="form-control border-input" [(ngModel)]="topicdetail.question"   placeholder="name"/>
        </label>
        <button type="submit" value="Save" class="btn btn-info btn-fill btn-wd" (click)="cencalshow()">Canel</button>
        <button type="submit" value="Save" class="btn btn-info btn-fill btn-wd" (click)="tunroff(topicdetail)">Save</button>
    </div>
</div>
</div>